server:
  port: 10002


# 日志配置
logging:
  level:
#    root: debug
    com.corki: debug
    org.springframework: warn
    org.mybatis.spring.mapper: error
    org.apache.fury: warn
  config: classpath:logback-plus.xml

spring:
  application:
    name: corki-sca-member
  cloud:
    nacos:
      config:
        server-addr: 127.0.0.1:8848
        file-extension: yaml
        group: DEFAULT_GROUP
        namespace: public
      discovery:
        enabled: true
        server-addr: 127.0.0.1:8848
        namespace: public
  config:
    import:
      - optional:nacos:${spring.application.name}
      - optional:nacos:web-common
      - optional:nacos:mysql
      - optional:nacos:redis